:root {
    --underlineDisplay: none;
    --underlineAnimation: none;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, fr);
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
    grid-area: 1 / 2 / 6 / 5;
}

main #title {
    grid-area: 1 / 1 / 1 / 6;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20vh;
    margin: 8vh 0 13vh 0;
}

main #registeredData {
    display: grid;
    grid-area: 2 / 2 / 6 / 5;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-self: center;
    background-color: #FF6064;
    height: 60vh;
    width: 50vw;
    border-radius: 25px;
    animation: registeredDataAnimation 1s ease-out forwards;
}

main #registeredData .container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

main #registeredData .logoContainer {
    align-items: center;
    grid-area: 1 / 1 / 4 / 1;
}

main #registeredData .usernameContainer {
    grid-area: 1 / 2 / 1 / 4;
}

main #registeredData .emailContainer {
    grid-area: 2 / 2 / 2 / 4;
}

main #registeredData .passwordContainer {
    grid-area: 3 / 2 / 3 / 4;
}

main #registeredData .logo {
    filter: opacity(0);
    width: 19vw;
    border-radius: 50%;
    animation: logoOpacity 1s 1s forwards;
}

main #registeredData .userData {
    position: relative;
    width: 20vw;
    padding-bottom: 5vh;
    font-weight: 900;
    color: white;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    white-space: nowrap;
}

main #registeredData .userData::after {
    content: '';
    display: var(--underlineDisplay);
    position: absolute;
    left: 0;
    bottom: 55%;
    height: 5px;
    width: 100%;
    background-color: #d44e52;
    transform-origin: bottom left;
    animation: var(--underlineAnimation);
}

@keyframes underlineAnimation {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes registeredDataAnimation {
    0% {
        height: 0;
        border: solid 5px #d44e5200;
    }

    100% {
        height: 60vh;
        border: solid 5px #d44e52;
    }
}

@keyframes logoOpacity {
    0% {
        filter: opacity(0);
    }
    100% {
        filter: opacity(1);
    }
}

@media (min-width: 375px) and (max-width:500px) {
    body {
        justify-content: flex-start;
    }

    main {
        width: 100vw;
    }

    main #title {
        font-size: 2rem;
        margin: 12vh 0 8vh 0;
    }

    main #registeredData {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 2fr repeat(3, 1fr);
        width: 80vw;
    }
    
    main #registeredData .logoContainer {
        grid-area: 1 / 1 / 1 / 4;
    }
    
    main #registeredData .usernameContainer {
        grid-area: 2 / 1 / 2 / 4;
    }
    
    main #registeredData .emailContainer {
        grid-area: 3 / 1 / 3 / 4;
    }
    
    main #registeredData .passwordContainer {
        grid-area: 4 / 1 / 4 / 4;
    }

    main #registeredData .logo {
        width: 45vw;
    }
    
    main #registeredData .userData {
        width: 65vw;
        padding-bottom: 5vh;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
    }
}