body {
    display: grid;
    grid-template-rows: repeat(5, 20%);
    grid-template-columns: repeat(5, 20%);
    background-color: #FF6064;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Conteúdo da logo */
.content-logo {
    grid-area: 2 / 3;
}

.content-logo #logo {
    width: 14vw;
}

/* Conteúdo do gif de loading */
.content-loading {
    grid-area: 4 / 3;
}

.content-loading #loading {
    width: 4vw;
}

/* Responsividade para celulares */
@media (max-width: 425px) {
    body {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }

    .content-logo {
        grid-area: 3 / 2 / 3 / 4;
    }
    
    .content-loading {
        grid-area: 5 / 2 / 5 / 4;
    }

    .content-logo #logo {
        width: 35vw;
    }
    
    .content-loading #loading {
        width: 13vw;
    }
}

/* Responsividade para Tablets */
@media (min-width: 426px) and (max-width: 768px) {
    body {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }

    .content-logo {
        grid-area: 2 / 2 / 4 / 4;
    }
    
    .content-loading {
        grid-area: 5 / 2 / 5 / 4;
    }

    .content-logo #logo {
        width: 25vw;
    }
    
    .content-loading #loading {
        width: 10vw;
    }
}

/* Responsividade para Laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    body {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }

    .content-logo {
        grid-area: 2 / 2 / 4 / 4;
    }
    
    .content-loading {
        grid-area: 5 / 2 / 5 / 4;
    }

    .content-logo #logo {
        width: 18vw;
    }
    
    .content-loading #loading {
        width: 8vw;
    }
}