body {
    display: grid;
    grid-template-rows: repeat(5, 20%);
    grid-template-columns: repeat(5, 20%);
    background-color: #FF6064;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-logo {
    grid-area: 2 / 3;
}

.content-loading {
    grid-area: 4 / 3;
}

#logo {
    width: 14vw;
}

#loading {
    width: 4vw;
}

@media (min-width: 375px) and (max-width: 500px) {
    body {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }

    .content-logo {
        grid-area: 3 / 2 / 3 / 4;
    }
    
    .content-loading {
        grid-area: 5 / 2 / 5 / 4;
    }

    #logo {
        width: 35vw;
    }
    
    #loading {
        width: 13vw;
    }
}